/*
this is used for css
single line or
multiple line comments
*/

*{
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px;
}

/*Combinator Selector*/

/*
1.General Sibling selector (~)
*/
div~h1{
    color:red;
    background-color: cornflowerblue;
}


/*
2.Adjacent Sibling selector (+)
*/
div+h1{
    color:blue;
    background-color: yellow;
}

/*
3.Child selector (>)
*/
.box1>h1{
    color: green;
    background-color: lightblue;
}


/*
4.Descendant selector (space)
*/
.box2 h1{
    color: purple;
    background-color: lightgreen;
}